@charset "UTF-8";
/**
 * @doc css
 * @author Heanes
 * @time 2018-10-12 17:08:41 周五
 */
/**
 * @doc 风格样式
 * @author Heanes
 * @time 2018-10-12 18:11:53 周五
 */
/* S ------------------------------ 列表样式 ------------------------------ S */
ul, ul li {
  list-style: none; }

/* S ------------------------------ 链接样式 ------------------------------ S */
a {
  color: #444;
  text-decoration: none; }

/* a标签还未被访问的状态 */
/* a标签已被访问过的状态 */
a:visited {
  color: unset; }

a:hover {
  color: #326eb4;
  text-decoration: none; }

a:active {
  color: #8f001e; }

/* 段落样式 */
p {
  margin: 0; }

/**
 * @doc 公用样式
 * @author Heanes
 * @time 2018-10-12 18:12:30 周五
 */
body {
  background-color: #ededed; }

.main-width {
  margin: 0 auto; }

/**
 * @doc 头部
 * @author Heanes
 * @time 2018-10-12 18:39:37 周五
 */
.header {
  /* 响应式切换 */ }
  .header .header-top-wrap {
    box-shadow: 0 0 3px 2px #ddd;
    height: 30px;
    line-height: 30px;
    background-color: #f4f4f4;
    overflow: hidden; }
    .header .header-top-wrap .header-top .top-left {
      float: left; }
      .header .header-top-wrap .header-top .top-left .header-notice-list {
        position: relative; }
    .header .header-top-wrap .header-top .top-right {
      float: right; }
      .header .header-top-wrap .header-top .top-right .top-right-link {
        line-height: 24px;
        padding: 0 6px; }
        .header .header-top-wrap .header-top .top-right .top-right-link:hover {
          text-decoration: underline; }
        .header .header-top-wrap .header-top .top-right .top-right-link:last-child {
          border-right: 0;
          margin-right: 0; }
      .header .header-top-wrap .header-top .top-right .border-separate {
        display: inline-block;
        height: 14px;
        line-height: 14px;
        border-right: 1px solid #ddd;
        vertical-align: middle; }
  .header .nav-bar-toggle {
    display: none; }
  .header .header-nav-wrap {
    background-color: #4097d6; }
    .header .header-nav-wrap .nav-list {
      font-size: 0; }
      .header .header-nav-wrap .nav-list .nav-item {
        position: relative;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        padding: 0 14px;
        cursor: pointer;
        font-size: 15px; }
        .header .header-nav-wrap .nav-list .nav-item .nav-link {
          display: block;
          color: #fff;
          white-space: nowrap; }
        .header .header-nav-wrap .nav-list .nav-item .nav-sub {
          display: none;
          position: absolute;
          min-width: 100%;
          background-color: #4097d6; }
        .header .header-nav-wrap .nav-list .nav-item.active, .header .header-nav-wrap .nav-list .nav-item.hover, .header .header-nav-wrap .nav-list .nav-item.expand, .header .header-nav-wrap .nav-list .nav-item:hover {
          background-color: #124d8a; }
        .header .header-nav-wrap .nav-list .nav-item:hover .nav-sub, .header .header-nav-wrap .nav-list .nav-item.expand .nav-sub {
          display: block;
          left: 0; }
          .header .header-nav-wrap .nav-list .nav-item:hover .nav-sub .nav-item, .header .header-nav-wrap .nav-list .nav-item.expand .nav-sub .nav-item {
            display: block;
            height: 40px;
            line-height: 40px; }

/**
 * @doc footer页脚样式
 * @author Heanes
 * @time 2018-04-16 12:05:01 周一
 */
/* S 脚部 S */
.footer .footer-content {
  background: #212121;
  /* 联系我们 */
  /* 友情链接 */
  /* 脚部导航链接 */
  /* 可信信息 */ }
  .footer .footer-content.footer-top-border {
    border-top: 14px solid #000; }
  .footer .footer-content a:hover {
    text-decoration: underline; }
  .footer .footer-content .friend-link-wrap {
    background-color: #1f1f1f; }
    .footer .footer-content .friend-link-wrap .friend-link {
      width: 100%;
      vertical-align: middle;
      background-color: #1f1f1f; }
      .footer .footer-content .friend-link-wrap .friend-link .friend-link-title,
      .footer .footer-content .friend-link-wrap .friend-link .friend-link-list {
        display: inline-block;
        vertical-align: top; }
      .footer .footer-content .friend-link-wrap .friend-link .friend-link-title {
        width: 100px;
        height: 40px;
        line-height: 40px;
        padding-left: 30px;
        margin: 0;
        background: url(../image/common/footer/friend-link/bg-friend-link.jpg) 0 0 no-repeat;
        background-size: 100% 100%;
        font-size: 14px;
        color: #fff; }
      .footer .footer-content .friend-link-wrap .friend-link .friend-link-list {
        height: 40px;
        overflow: hidden; }
        .footer .footer-content .friend-link-wrap .friend-link .friend-link-list .link-item {
          display: inline-block;
          margin: 0 10px;
          height: 40px;
          line-height: 40px;
          vertical-align: middle;
          text-align: center; }
          .footer .footer-content .friend-link-wrap .friend-link .friend-link-list .link-item .link {
            display: block; }
  .footer .footer-content .footer-section + .footer-section {
    margin-top: 20px; }
  .footer .footer-content .footer-section .footer-website-logo,
  .footer .footer-content .footer-section .add-link {
    display: inline-block;
    vertical-align: top; }
  .footer .footer-content .footer-section .footer-website-logo {
    padding: 30px;
    text-align: center;
    border-radius: 50%; }
    .footer .footer-content .footer-section .footer-website-logo:hover {
      background-color: #eee;
      border-radius: 50%; }
      .footer .footer-content .footer-section .footer-website-logo:hover .footer-website-home-link {
        background-color: #fff;
        box-shadow: 0 0 10px 0 rgba(173, 173, 173, 0.5);
        -webkit-animation: rotateAlways 2s linear infinite; }
        .footer .footer-content .footer-section .footer-website-logo:hover .footer-website-home-link .logo-img {
          box-shadow: 0 0 10px 0 rgba(173, 173, 173, 0.5); }
    .footer .footer-content .footer-section .footer-website-logo .footer-website-home-link {
      display: block;
      padding: 24px;
      border-radius: 50%; }
      .footer .footer-content .footer-section .footer-website-logo .footer-website-home-link .logo-img {
        width: 80px;
        max-width: 80px;
        border-radius: 10px; }
  .footer .footer-content .footer-section .add-link {
    padding-left: 10px; }
    .footer .footer-content .footer-section .add-link .link-group {
      margin: 10px 0 0; }
      .footer .footer-content .footer-section .add-link .link-group > li {
        display: inline-block;
        width: 160px; }
      .footer .footer-content .footer-section .add-link .link-group .link-category {
        font-size: 14px;
        height: 26px;
        color: #8c8c8c;
        padding-left: 10px;
        margin-bottom: 0; }
      .footer .footer-content .footer-section .add-link .link-group .link-list {
        margin: 0 auto; }
        .footer .footer-content .footer-section .add-link .link-group .link-list li {
          padding-left: 10px;
          height: 28px;
          line-height: 28px;
          overflow: hidden; }
        .footer .footer-content .footer-section .add-link .link-group .link-list a {
          color: #b5b5b5;
          font-size: 13px; }
          .footer .footer-content .footer-section .add-link .link-group .link-list a:hover {
            color: #e7e7e8; }
  .footer .footer-content .footer-nav-link {
    text-align: center; }
    .footer .footer-content .footer-nav-link .link-item {
      padding: 0 16px; }
      .footer .footer-content .footer-nav-link .link-item + .link-item {
        border-left: 1px solid #565454; }
  .footer .footer-content .footer-trust {
    text-align: center; }
    .footer .footer-content .footer-trust .web-cert-trust-list .trust-item {
      display: inline-block;
      background: url("../image/common/footer/web_cert_tust_sprite.png");
      width: 130px;
      height: 57px;
      cursor: pointer; }
      .footer .footer-content .footer-trust .web-cert-trust-list .trust-item.trust1 {
        background-position: 1px 236px; }
        .footer .footer-content .footer-trust .web-cert-trust-list .trust-item.trust1:hover {
          background-position: 1px 179px; }
      .footer .footer-content .footer-trust .web-cert-trust-list .trust-item.trust2 {
        background-position: 444px 236px; }
        .footer .footer-content .footer-trust .web-cert-trust-list .trust-item.trust2:hover {
          background-position: 444px 179px; }
      .footer .footer-content .footer-trust .web-cert-trust-list .trust-item.trust3 {
        background-position: 315px 236px; }
        .footer .footer-content .footer-trust .web-cert-trust-list .trust-item.trust3:hover {
          background-position: 315px 179px; }
      .footer .footer-content .footer-trust .web-cert-trust-list .trust-item.trust4 {
        background-position: 184px 236px; }
        .footer .footer-content .footer-trust .web-cert-trust-list .trust-item.trust4:hover {
          background-position: 184px 179px; }
  .footer .footer-content .copyright {
    background-color: #000;
    color: #5d5d5d;
    font-size: 13px;
    padding: 6px 0; }
    .footer .footer-content .copyright .p {
      text-align: center;
      line-height: 20px;
      margin: 0; }
      .footer .footer-content .copyright .p .in-text:hover {
        color: #e7e7e8; }
        .footer .footer-content .copyright .p .in-text:hover a {
          color: #e7e7e8; }
      .footer .footer-content .copyright .p .in-text a {
        color: #5d5d5d; }
        .footer .footer-content .copyright .p .in-text a:hover {
          color: #7c94e8; }

/* E 脚部 E */
.main {
  /* 首页幻灯 */
  /* --- 服务特点 ---*/
  /* 服务团队 */
  /* 服务特点 */
  /* 合作案例 */
  /* 厂房设备 */
  /* 公司新闻 */ }
  .main .index-slide-show {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden; }
    .main .index-slide-show.slick-slider .slick-dots {
      bottom: 2px; }
      .main .index-slide-show.slick-slider .slick-dots li button:before {
        font-size: 8px; }
    .main .index-slide-show.slick-slider .slick-prev,
    .main .index-slide-show.slick-slider .slick-next {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 2;
      font-size: 40px; }
      .main .index-slide-show.slick-slider .slick-prev:before,
      .main .index-slide-show.slick-slider .slick-next:before {
        display: none; }
    .main .index-slide-show.slick-slider .slick-prev {
      left: 10px; }
    .main .index-slide-show.slick-slider .slick-next {
      right: 10px; }
  .main .feature-item {
    padding: 30px 0; }
    .main .feature-item > .title {
      text-align: center;
      font-size: 1.5em;
      margin-bottom: 40px; }
      .main .feature-item > .title .main-title, .main .feature-item > .title .sub-title {
        font-weight: normal;
        margin: 14px 0; }
      .main .feature-item > .title .sub-title {
        font-size: 16px; }
  .main .team-service {
    background-color: #fff;
    color: #333; }
  .main .service-feature {
    margin: 0 auto;
    background-color: #1585c9;
    color: #fff; }
    .main .service-feature .service-feature-list {
      font-size: 0;
      margin: 20px auto; }
      .main .service-feature .service-feature-list .item {
        display: inline-block;
        width: 16.666667%;
        margin: 40px 0;
        font-size: 1rem;
        vertical-align: top;
        text-align: center; }
        .main .service-feature .service-feature-list .item .icon {
          position: relative;
          display: inline-block;
          width: 120px;
          height: 120px;
          line-height: 120px;
          border-radius: 50%;
          border: 1px solid;
          font-size: 50px;
          text-align: center;
          transition: all .25s ease-out; }
          .main .service-feature .service-feature-list .item .icon .num {
            width: 35px;
            height: 35px;
            background: #ffffff;
            border-radius: 100%;
            border: 1px solid;
            position: absolute;
            left: -2px;
            top: 5px;
            color: #1585c9;
            text-decoration: none;
            font-size: 18px;
            text-align: center;
            line-height: 35px;
            font-weight: 100;
            z-index: 2;
            font-family: Arial, serif;
            transition: all .25s ease-out; }
        .main .service-feature .service-feature-list .item:hover .icon {
          background-color: #fff;
          color: #1585c9; }
        .main .service-feature .service-feature-list .item .item-content {
          font-size: 14px;
          padding: 0 10px;
          line-height: 26px; }
  .main .factory-equipment {
    background-color: #fff; }
    .main .factory-equipment .equipment-list {
      font-size: 0; }
      .main .factory-equipment .equipment-list .item {
        width: 33.3333%;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
        font-size: 14px; }
        .main .factory-equipment .equipment-list .item .item-content {
          height: 100%;
          border: 1px solid #ddd;
          transition: all .5s; }
          .main .factory-equipment .equipment-list .item .item-content .item-image-cover .item-image {
            display: block;
            width: 100%;
            text-align: center;
            overflow: hidden; }
            .main .factory-equipment .equipment-list .item .item-content .item-image-cover .item-image .img {
              width: 100%; }
          .main .factory-equipment .equipment-list .item .item-content .item-detail {
            padding: 20px;
            height: 250px; }
            .main .factory-equipment .equipment-list .item .item-content .item-detail .item-name .title {
              font-size: 20px; }
            .main .factory-equipment .equipment-list .item .item-content .item-detail .item-desc {
              height: 180px;
              line-height: 26px;
              overflow: hidden;
              word-break: break-all;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 7;
              -webkit-box-orient: vertical; }
          .main .factory-equipment .equipment-list .item .item-content:hover {
            box-shadow: 0 0 10px 0 rgba(0, 0, 3, 0.6);
            transform: translateY(-5px); }
  .main .news-wrap {
    background-color: #fff;
    padding: 40px 0;
    font-size: 0; }
    .main .news-wrap .item-wrap {
      display: inline-block;
      width: 33.333%;
      padding: 5px;
      vertical-align: top;
      font-size: 14px; }
    .main .news-wrap .news-group-item {
      height: 380px;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 4px; }
      .main .news-wrap .news-group-item .group-item-title {
        position: relative;
        border-bottom: 1px solid #aaa;
        margin-bottom: 10px;
        padding-bottom: 10px;
        padding-left: 14px;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px; }
        .main .news-wrap .news-group-item .group-item-title .title-border-vertical {
          position: absolute;
          left: 4px;
          top: 4px;
          display: inline-block;
          width: 4px;
          height: 22px;
          background-color: #004c98; }
      .main .news-wrap .news-group-item .news-list .new-link {
        position: relative;
        display: block;
        padding-right: 78px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 28px; }
        .main .news-wrap .news-group-item .news-list .new-link .news-date {
          position: absolute;
          right: 2px; }

/**
 * @doc responsive
 * @author Heanes
 * @time 2018-10-12 17:59:14 周五
 */
/* ------------------------------ PC 大屏 ------------------------------ */
/* Widely screen */
@media screen and (min-width: 1367px) {
  .main-width {
    width: 94%;
    max-width: 1200px; } }
/* ------------------------------ PC 中等屏 ------------------------------ */
/* Normal noteBook */
@media screen and (max-width: 1366px) {
  .main-width {
    width: 1200px; } }
@media screen and (max-width: 1200px) {
  .main-width {
    width: 94%; } }
/* ------------------------------ 中屏 ------------------------------ */
/* iPad */
@media screen and (min-width: 767px) and (max-width: 1139px) {
  .main .service-feature .service-feature-list .item {
    width: 33.3333%; } }
/* ------------------------------ 小屏 ------------------------------ */
@media screen and (max-width: 767px) {
  .main-width {
    width: 100%; }

  .main .service-feature .service-feature-list .item {
    width: 33.3333%; }

  .header .header-nav-wrap {
    position: relative; }
    .header .header-nav-wrap .nav-bar-toggle {
      display: block;
      position: relative;
      float: right;
      right: 0;
      padding: 9px 10px;
      margin-top: 8px;
      margin-right: 15px;
      margin-bottom: 8px;
      background-color: #f9f9f9;
      border: 1px solid transparent;
      border-radius: 4px; }
      .header .header-nav-wrap .nav-bar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: #563d7c; }
        .header .header-nav-wrap .nav-bar-toggle .icon-bar + .icon-bar {
          margin-top: 4px; }
    .header .header-nav-wrap .nav-list {
      display: block; }
      .header .header-nav-wrap .nav-list .nav-item {
        display: block;
        height: auto;
        line-height: 40px;
        border-bottom: 1px solid #238eda; }
        .header .header-nav-wrap .nav-list .nav-item .nav-sub {
          position: relative; } }
/* ------------------------------ 手机屏 ------------------------------ */
@media screen and (max-width: 479px) {
  h1, h2 {
    font-size: 16px; }

  h3 {
    font-size: 14px; }

  .main .service-feature .service-feature-list .item {
    width: 50%; }
  .main .factory-equipment .equipment-list .item {
    width: 50%; } }
/* iPhone 6plus */
/* iPhone 6 */
/* iPhone 3 4 5 */
/* Android and + */
/* Android and + */

/*# sourceMappingURL=css.css.map */
