@charset "UTF-8";
/**
 * @doc 产品列表展示
 * @author Heanes
 * @time 2018-11-25 10:23:44 周日
 */
.product-list-wrap{
    margin: 30px 0;
    .product-list{
        .product-item{
            display: inline-block;
            width: 33.3332%;
            vertical-align: top;
            padding: 0 10px;
            margin-bottom: 50px;

            .card{
                box-shadow: 0 0 10px rgba(0,0,0,.2);
                .card-header{
                    display: block;

                    .cover-img{
                        width: 100%;
                    }
                }
                .card-title{
                    padding: 10px 0;
                    margin: 0;
                    text-align: center;
                    font-weight: 400;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }
}
