@charset "UTF-8";
/**
 * @doc 风格样式
 * @author Heanes
 * @time 2018-10-12 18:11:53 周五
 */


/* S ------------------------------ 列表样式 ------------------------------ S */
ul{
    &, li{
        list-style: none;
    }
}

/* S ------------------------------ 链接样式 ------------------------------ S */

// S 链接样式
$aColor: #444;
$aColorVisited: unset;
$aColorHover: #326eb4;
$aColorActive: #8f001e;
$aTextDecoration: none;
$aTextHoverDecoration: none;
// E 链接样式
a{
    color: $aColor;
    text-decoration: $aTextDecoration
}

/* a标签还未被访问的状态 */
a:link{

}

/* a标签已被访问过的状态 */
a:visited{
    color: $aColorVisited;
}

a:hover{
    color: $aColorHover;
    text-decoration: $aTextHoverDecoration;
}

a:active{
    color: $aColorActive
}

/* 段落样式 */
p{
    margin: 0;
}
